/* ================================================= 
                        INTERNAL
/* ================================================ */

.img-left {
  border-radius: 5rem 0 5rem 0;
}

.img-right {
  border-radius: 0 5rem 0 5rem;
}

.eksternal {
  margin-top: 15rem;
}

section .row {
  margin-bottom: 10rem;
}
/* ================================================= 
                    END INTERNAL
/* ================================================ */
