/* ================================================= 
                        BANNER
/* ================================================ */
.banner img {
  width: 90%;
}

.banner .text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.banner .text-box h1 {
  color: #fff;
  font-weight: 700;
  font-size: 5rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.banner .text-box h2 {
  color: #000;
  font-weight: 700;
  width: 4em;
  background: #fff;
  border-radius: 30px;
  font-size: 3rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.banner .text-box .scroll-down i {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 5px;
  text-shadow: 5px 5px 100px rgba(0, 0, 0, 5);
}

.banner .text-box .scroll-down a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.3s;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.banner .text-box .scroll-down a:hover {
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 5);
}
.banner .text-box .scroll-down .arrow-down {
  animation: scroll-down 0.8s linear infinite;
}

@keyframes scroll-down {
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ================================================= 
                      END BANNER 
/* ================================================ */

/* ================================================= 
                       ABOUT 
/* ================================================ */

.about .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}
.about .box-about {
  position: relative;
  border-radius: 0 40px 0 40px;
  background: #16082a;
  transition: 0.3s;
  box-shadow: 3px 3px 0px rgba(217, 0, 255, 0.5), -3px -3px 0px rgba(0, 21, 255, 0.5);
}
.about .box-about:hover {
  box-shadow: 5px 5px 10px rgba(217, 0, 255, 0.5), 50px 50px 100px rgba(217, 0, 255, 0.3), -5px -5px 10px rgba(0, 21, 255, 0.5), -50px -50px 100px rgba(0, 21, 255, 0.3);
}
.about .title {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
  text-shadow: 5px 3px 5px rgba(118, 137, 247, 0.5);
}

.about .title span {
  padding-left: 3.5rem;
  text-shadow: 5px 3px 5px rgba(189, 94, 240, 0.5);
}

.about .description {
  color: #a6a6a6;
  text-shadow: 1px 1px 5px rgba(255, 255, 255, 0.3);
  margin: 2rem;
  text-align: justify;
}

/* ================================================= 
                      END ABOUT 
/* ================================================ */

/* ================================================= 
                    MAIN ACTIVITY 
/* ================================================ */

.main-activity .container {
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-activity .title {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
  text-shadow: 5px 3px 5px rgba(118, 137, 247, 0.5);
}

.main-activity .title span {
  margin-left: 2rem;
}
.main-activity .box-internal {
  margin-top: 3rem;
}
.main-activity #internal,
.main-activity #eksternal {
  margin-top: 10px;
  height: 80vh;
}
.main-activity .box-internal .title-internal,
.main-activity .box-eksternal .title-eksternal {
  position: relative;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0 1rem;
  text-shadow: 2px 2px 5px rgba(118, 137, 247, 0.5);
}

.main-activity .box-eksternal .title-eksternal {
  text-align: end;
}
.main-activity .box-internal .title-internal::after,
.main-activity .box-eksternal .title-eksternal::after {
  content: "";
  position: absolute;
  width: 15rem;
  height: 2px;
  background: #ea2cff;
  box-shadow: 0 -10px 40px 5px rgba(234, 44, 255, 0.5);
  bottom: 0;
}

.main-activity .box-internal .title-internal::after {
  left: 0;
  transform: translate(-0.5rem, 1rem);
}

.main-activity .box-eksternal {
  margin-top: 5rem;
}
.main-activity .box-eksternal .title-eksternal::after {
  right: 0;
  transform: translate(0rem, 1rem);
}
.main-activity img {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: -3px -3px 0px rgba(217, 0, 255, 0.5), 3px 3px 0px rgba(0, 21, 255, 0.5);
  margin-top: 2rem;
}

.main-activity .title-desc {
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 2rem;
  text-shadow: 2px 3px 5px #ee5ef080;
}

.main-activity .description {
  color: #eaeaea;
  text-align: justify;
  margin-top: 2rem;
  font-size: 1.2rem;
  height: 13rem;
}

.btn-see-more {
  margin: 1.5rem auto;
}

/* ================================================= 
                  END MAIN ACTIVITY
/* ================================================ */

/* ================================================= 
                    CONTACT US 
/* ================================================ */
.contact-us .container {
  margin-top: 15rem;
}

.contact-us ul {
  position: relative;
  height: 100%;
}

.contact-us ul li {
  position: relative;
  display: flex;
  text-align: center;
  margin-left: -2rem;
}

.contact-us ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 1rem;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.contact-us ul li a i {
  font-size: 2rem;
  margin-right: 1.2rem;
}
.contact-us a:hover {
  color: var(--clr);
  text-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

.contact-us .row-contact .col-contact {
  position: relative;
  margin: 30px 0 10px;
  padding: 0 10px;
  transition: 0.5s;
}

.contact-us .row-contact .col-contact .input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: #eaeaea;
}

.contact-us .row-contact .col-contact .input-box input,
.contact-us .row-contact .col-contact .input-box.textarea textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  resize: none;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 500;
  z-index: 1;
  color: #fff;
}

.contact-us .row-contact .col-contact .input-box .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.contact-us .row-contact .col-contact .input-box.textarea textarea {
  height: 4.5rem;
}

.contact-us .row-contact .col-contact .textarea .text {
  line-height: 100px;
}
.contact-us .row-contact .col-contact .input-box input:focus + .text,
.contact-us .row-contact .col-contact .input-box input:valid + .text {
  top: -35px;
  left: -10px;
  color: #fff;
}

.contact-us .row-contact .col-contact .input-box .line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  background: #eaeaea;
  border-radius: 2px;
}
.contact-us .row-contact .col-contact .textarea .line {
  transform: translateY(30px);
}
.contact-us .row-contact .col-contact .input-box textarea:focus + .text,
.contact-us .row-contact .col-contact .input-box textarea:valid + .text {
  top: -65px;
  left: -10px;
  color: #fff;
}

input[type="submit"] {
  border-radius: 10px;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  font-weight: 600;
  letter-spacing: 1px;
}
input[type="submit"]:hover {
  box-shadow: 0px 0px 10px rgba(0, 255, 242, 0.3);
}

/* ================================================= 
                END CONTACT US
/* ================================================ */

/* ================================================= 
                DISPLAY 768PX TABLET 
/* ================================================ */
@media (min-width: 768px) {
  /* ================================================= 
                     BANNER 768PX
/* ================================================ */
  .banner .container {
    min-height: 90vh;
  }

  .banner .text-box {
    margin-top: 0;
  }
  /* ================================================= 
                  EDN BANNER 768PX
/* ================================================ */

  /* ================================================= 
                      ABOUT 768PX
/* ================================================ */
  .about {
    margin-top: 8rem;
  }
  .about .title {
    font-size: 4rem;
    text-align: left;
  }
  .about .title span {
    margin-left: 4rem;
  }

  .about .description {
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  /* ================================================= 
                    END ABOUT 768PX
/* ================================================ */

  /* ================================================= 
                  MAIN ACTIVITY 768PX
/* ================================================ */
  .main-activity #internal,
  .main-activity #eksternal {
    height: 100%;
  }

  .main-activity .title {
    font-size: 4rem;
  }

  .main-activity .image {
    margin-top: 5rem;
  }

  .btn-see-more {
    margin-top: 5rem;
  }
  /* ================================================= 
                  END MAIN ACTIVITY 768PX
/* ================================================ */
}
/* ================================================= 
                END DISPLAY 768PX TABLET
/* ================================================ */
/* ================================================= 
                  DISPLAY 768PX LAPTOP
/* ================================================ */
@media (min-width: 992px) {
  /* ================================================= 
                  BANNER 992PX
/* ================================================ */
  .banner .text-box h1 {
    font-size: 8rem;
  }
  .banner .text-box h2 {
    font-size: 6rem;
    width: 4.5em;
    border-radius: 100px;
  }
  .banner img {
    width: 80%;
  }
  .banner .text-box .scroll-down {
    padding-top: 2rem;
  }
  /* ================================================= 
                 END BANNER 992PX
/* ================================================ */

  /* ================================================= 
                  ABOUT 992PX
/* ================================================ */

  .about .title {
    flex-direction: row;
    align-items: center;
  }

  .about .title span {
    padding: 0;
    margin-left: 1.2rem;
  }

  .about .btn-see-more {
    margin-left: 5rem;
  }
  /* ================================================= 
                 END ABOUT 992PX
/* ================================================ */

  /* ================================================= 
                 MAIN ACTIVITY 992PX
/* ================================================ */
  .main-acitivity .title {
    font-size: 4rem;
    flex-direction: row;
  }

  .main-activity .title span {
    margin: 0;
  }

  .main-activity .image {
    position: relative;
    margin-top: 0rem;
  }

  .main-activity .btn-see-more {
    margin-top: -1rem;
  }
  /* ================================================= 
                END MAIN ACTIVITY 992PX
/* ================================================ */

  /* ================================================= 
                CONTACT US 992PX
/* ================================================ */

  .contact-us ul li a {
    font-size: 1.5rem;
    padding-left: 2rem;
    margin: 0.5rem;
  }
  /* ================================================= 
               END CONTACT US 992PX
/* ================================================ */
}

/* ================================================= 
                END DISPLAY 768PX LAPTOP
/* ================================================ */
