@import url("https://fonts.googleapis.com/css2?family=Mali:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* general style */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #07122c, #211032, #330b2f);
}
section {
  margin: 10rem 0;
  min-height: 90vh;
}

/* navbar border-animation */
.border-animation {
  position: relative;
  width: 100%;
  height: 100%;
  background: #0d112d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.border-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(transparent, transparent, transparent, #4006ec);
  animation: border-animation 4s linear infinite;
  animation-delay: -2s;
}
.border-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(transparent, transparent, transparent, #ea2cff);
  animation: border-animation 4s linear infinite;
}

@keyframes border-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-animation .inset {
  position: absolute;
  inset: 3px;
  border-radius: 6px;
  background: #0d112d;
  z-index: 10;
}
/* end navbar border animation */

/* button see more */
.btn-see-more {
  position: relative;
  width: 10rem;
  height: 3rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #081e52, #211032, #4b0d45);
}

.btn-see-more a {
  text-decoration: none;
  width: 100%;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-see-more:hover {
  box-shadow: 0 0 30px #1e3a9580;
}

/* end buttton see more */

.title {
  font-family: "Mali", cursive;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 5px 3px 5px rgba(118, 137, 247, 0.5);
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

/* button go up  */
.go-up {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #333;
  bottom: 3rem;
  right: 2rem;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: all 0.5s;
  display: none;
  position: fixed;
}

.go-up:hover {
  opacity: 1;
}
.go-up i {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}
.go-up.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* end button go up */

/* General Style */

/* ========================== 
            navbar 
========================== */

.navbar {
  background: linear-gradient(to right, #0d112d, #181130, #241032);
  transition: 0.5s;
}
/* ===== navbar border animation ===== */
.navbar .border-animation {
  width: 15rem;
  height: 3rem;
}

.navbar .border-animation::after {
  width: 25rem;
  height: 25rem;
}
.navbar .border-animation::before {
  width: 25rem;
  height: 25rem;
}
/* ===== end navbar border animation ===== */

.navbar .container .navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 10;
}

.navbar .container .navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}

.navbar .container .navbar-toggler i {
  color: #fff;
  font-size: 1.8em;
}

.navbar .nav-link {
  color: #b7b7b7;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0 10px;
}
.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: #fff;
  border-bottom: 3px solid #b205b5;
}

.navbar .nav-link.active {
  font-weight: 600;
}

.navbar .offcanvas {
  background: linear-gradient(to right, #0d112d, #181130, #241032);
  height: 30%;
  border-radius: 20px;
  right: 0;
}
/* ========================== 
          end navbar 
========================== */

/* ========================== 
          definisi 
========================== */
.definition {
  margin-top: 6rem;
}

.definition .border-animation {
  width: 36rem;
  height: 21rem;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}

.definition .border-animation::after {
  width: 100%;
  height: 50rem;
}
.definition .border-animation::before {
  width: 100%;
  height: 50rem;
}
.definition .image {
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 10;
}

.definition .image img {
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 35rem;
  height: 20rem;
  z-index: 10;
}

.definition .border-animation .inset {
  position: absolute;
  inset: 5px;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  z-index: 10;
}
/* ========================== 
          end definisi
========================== */

/* ========================== 
           footer
========================== */

.footer .footer-title {
  color: #fff;

  font-weight: 700;
  letter-spacing: 1px;
}

.footer .list-group {
  width: 100%;
  justify-content: center;
}

.footer .list-group-item {
  background: transparent;
  border: none;
  width: 100%;
}
.footer a {
  color: rgb(174, 174, 174);
}
.footer .list-group-horizontal a {
  font-size: 2rem;
}
.footer a:hover {
  color: var(--clr);
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.footer .contact-info a {
  display: flex;
  align-items: center;
}
.footer .contact-info i {
  font-size: 2rem;
  margin-right: 1rem;
}
/* ========================== 
        end footer
========================== */

/* ========================== 
        DISPLAY 768
========================== */
@media (min-width: 768px) {
  /* banner */
  section {
    margin-top: 3rem;
  }
  .banner .container {
    min-height: 90vh;
  }

  .banner .text-box {
    margin-top: 0;
  }
  /* end banner */

  /* about */
  .about .title {
    font-size: 4rem;
  }
  .about .title span {
    margin-left: 4rem;
  }

  .about .description {
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  /* end about */

  /* main acitivitiy */
  .main-activity #internal,
  .main-activity #eksternal {
    height: 100%;
  }

  .main-activity .title {
    font-size: 4rem;
  }

  .main-activity .image {
    margin-top: 5rem;
  }

  .btn-see-more {
    margin-top: 5rem;
  }

  /* footer */
  .footer .quick-links {
    padding-left: 3rem;
  }

  .footer .contact-info .list-group {
    margin-left: -1.5rem;
  }
}
/* ========================== 
        DISPLAY 992
========================== */
@media (min-width: 992px) {
  /* button see more */
  .btn-see-more {
    width: 10rem;
    height: 2.5rem;
    margin: 5rem;
  }

  /* navbar */
  .navbar .nav-link {
    text-transform: uppercase;
  }
  /* end navbar */

  /* banner */
  .banner .text-box h1 {
    font-size: 8rem;
  }
  .banner .text-box h2 {
    font-size: 6rem;
    width: 4.5em;
    border-radius: 100px;
  }
  .banner img {
    width: 80%;
  }
  .banner .text-box .scroll-down {
    padding-top: 2rem;
  }
  /* end banner */

  /* about */

  .about .title {
    flex-direction: row;
    align-items: center;
  }

  .about .title span {
    margin-left: -0.5rem;
  }
  /* end abut */

  /* main activity */
  .main-acitivity .title {
    font-size: 4rem;
    flex-direction: row;
  }

  .main-activity .title span {
    margin: 0;
  }

  .main-activity .image {
    position: relative;
    margin-top: 0rem;
  }

  .btn-see-more {
    margin-top: -1rem;
  }
  /* end main activity */

  /* contact us */
  .contact-us ul li a {
    font-size: 1.5rem;
    padding-left: 2rem;
    margin: 0.5rem;
  }

  /* footer */
  .footer .quick-links {
    padding-left: 7rem;
  }
}
